body {
      background: #262626;
      text-align: center;
}

canvas {
      background: white;
}

input {
      background: rgba(0, 0, 0, 0);

      border: 0px;
      border-bottom: solid 1px #464646;

      width: 200px;
      height: 50px;
      font-size: 20px;

      color: #868686;
      padding-left: 20px;
      margin-bottom: 10px;
}

button {
      background: rgba(0, 0, 0, 0);
      border: solid 1px #464646;

      font-size: 20px;
      color: #868686;

      margin-top: 30px;
}

button:hover {
      cursor: pointer;
}
